*{
    margin: 0;
    padding: 0;
}
html {
    background: none repeat scroll 0 0 #eeeeee;
}
body {
    background: none repeat scroll 0 0 #cecece;
    border: 2px solid #dedede;
    font-size: 14px;
    margin: 10px auto;
    padding: 10px;
    width: 980px;
}
header#naglowek{
    background-color: #eb7b0b;
    height:200px;
    margin-bottom: 5px;
}
nav#menu{
    height:50px;
    background-color: #eb0b2b;
}
div#main {
    background: none repeat scroll 0 0 #efefef;
    float: left;
    margin: 5px 0;
    padding: 10px;
    width: 660px;
}
div#sidebar {
    background: none repeat scroll 0 0 #eeeeee;
    float: right;
    margin: 5px 0 5px 10px;
    padding: 10px;
    width: 270px;
}
footer#stopka{
    background: none repeat scroll 0 0 #dedede;
    clear: both;
    margin-top: 5px;
    padding: 10px;
}
#stopka > div{
    background: #3bd268;
    width: 300px;
    margin-right:11px;
    display: inline-block;
    padding: 5px;
}
#stopka #right{
    margin: 0;  
}
#stopka #bottom{
    display: block;
    width: 950px;
    margin-top: 5px;
    margin-right: 0;
    text-align: right;
}
h1 {
    font: normal 18px Helvetica;
    color: #213698;
}
div.widget {
    background: #dadada;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}
div.widget h1 {
    margin: 3px 0px 0px 0px;
    text-align: center;
}
div.widget p {
    margin: 3px;
}
#main p{
    margin-top: 1em;
}

