/*--------------------------------Elementy ogólne*/
*{
    margin: 0;
    padding: 0;
}
p{
    margin-top: 1em;
}
a {
    text-decoration: none;
    color: #213698;
}
a:hover{
    text-decoration: underline;
    color: #3bd268;
}
a:active{
    text-decoration: none;
    color: #3bd268;
}
blockquote{
    padding: 1em;
    color: #444;
}
cite{
    font-style: italic;
    margin-top: 1em;
    display:inline-block;
}
code{
    display: block;
    margin:5px;
}
h1 {
    font: normal 18px Helvetica;
    color: #213698;
}
input, select, textarea, fieldset, label{
    display: block;
    margin:5px;
}
ul, ol{
    margin:5px 20px;
}
table{
    margin: 5px auto;
}
button, input[type="submit"], input[type="reset"]{
    display: inline;
    margin: 5px;
    margin-right: 0;
    padding: 4px;
}
label input{
    display: inline;
}
input[type="radio"], input[type="checkbox"]{
    margin:2px;
    margin-left: 10px;
}
select{
    padding: 4px;
}
q{
    color:#444;
    margin-top: 1em;
    display:inline-block;
}
/*-------------------------------------szkielet strony*/
html {
    background-image: url("../images/tlo.jpeg");
    background-position:top;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-color: black;
}
body {
    background: url("../images/50.png") repeat scroll 0 0 transparent;
    border-top:none;
    font-size: 14px;
    margin: 0 auto 10px;
    padding: 10px;
    width: 980px;
}
header#naglowek{
    background-color: #eb7b0b;
    background-image: url("../images/baner.jpeg");
    height:100px;
    margin-bottom: 5px;
    position: relative;
    padding: 75px 25px 25px 25px;
}
#tytul{
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    font-family: Garamond, Bodoni, sans-serif;
    text-shadow: 5px 5px 5px white, 5px 5px 20px black;
}
#podtytul{
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    font-family: Helvetica, Univers, Futura, serif;
    margin-top: 5px;
}
div#social{
    position: absolute;
    height: 48px;
    top:20px;
    right:20px;
    background: none;
}
nav#menu{
    height:50px;
    background-color: #eb0b2b;
    background-image: url("../images/nav.jpeg");
}
#menu a{
    color:white;
}
#menu a:hover{
    color:#213698;
    text-decoration: none;
}
nav ul{
    display: block;
    list-style: none;
    overflow: hidden;
}
nav ul li{
    float: left;
    display: block;
    padding:15px 10px;
    font:bold 14px Georgia,sans-serif;
    height: 20px;
    position: relative;
}
nav ul li ul{
    display:block;
    list-style: none;
    position: absolute;
    top:50px;
    left:-1px;
}
nav ul li ul li{
    display:block;
    float: none;
    background-color: black;
    background-image: url("../images/nav.jpeg");
    white-space: nowrap;
}
div#main {
    background: url("../images/85w.png") repeat scroll 0 0 transparent;
    float: left;
    margin: 5px 0;
    padding: 10px;
    width: 660px;
    overflow: hidden
}
div#sidebar {
    background: url("../images/65w.png") repeat scroll 0 0 transparent;
    float: right;
    margin: 5px 0 5px 10px;
    padding: 0px 10px 10px 10px;
    width: 270px;
    clear: both;
    overflow: hidden;
}
footer#stopka{
    background: url("../images/65w.png") repeat scroll 0 0 transparent;
    clear: both;
    margin-top: 5px;
    padding: 0px 10px 10px 10px;
    overflow: hidden;
}
#stopka #left, #stopka #center, #stopka #right {
    background: transparent;
    width: 310px;
    margin-right:15px;
    margin-bottom: 5px;
    display: block;
    padding: 0px;
    float: left;
}
#stopka #right{
    margin: 0;  
}
#stopka #bottom{
    display: block;
    width: 940px;
    margin-right: 0;
    text-align: right;
    padding: 10px;
    clear: both;
}
/*----------------------------------------------------------------------klasy*/
div.widget {
    background: url("../images/85w.png") repeat scroll 0 0 transparent;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px gray, 0 0 1px 1px #888 inset;
}
div.widget h1 {
    margin: 3px 0px 0px 0px;
    text-align: center;
    border-bottom: 1px dotted #aaa;
}
div.widget p {
    margin: 3px;
    margin-top: 1em;
}
.social{
    border: 1px solid #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}
div.shearch-box{
    padding: 10px;
    background: url("../images/65.png");
    position: absolute;
    top:78px;
    right: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 3px 3px 10px black, 0 0 1px 1px white inset;
}
.shearch{
    display: inline-block;
    width:140px;
    padding:3px;
}
.shearch_button{
    display: inline-block;
    width:40px;
    padding:3px;
}
.thumb, .image {
    border: 1px solid #333;
    padding: 1px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    max-height: 200px;
    max-width: 200px;
    margin: 5px auto;
    display: block;
    box-shadow: 2px 2px 5px #999;
}
.image{
    max-height: 500px;
    max-width: 600px;
}